* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(136, 176, 75)
}

h1 {
  font-size: 1em;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.header {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 90%;
  padding: 0 5%;
  background: white;

}

.hdWrap {
  width: 1200px;
  max-width: 90%;
  margin: auto;
  overflow: hidden;
  padding: 20px 0;
}

.logo a {
  display: block;
  font-size: 1em;
}

.logo a img {
  font-size: 1em;
  max-height: 40px;
  vertical-align: middle;
}

.logo {
  margin: 0;
  float: left;
}

.nav {
  float: right;
}

.nav > ul {
  float: left;
}
.nav ul {
  list-style: none;
}

.nav > ul > li {
  float: left;
  margin: 0 20px;
  font-size: 16px;
  font-family: 'Futura-Med';
}

.nav > ul > li .clickedNav {
  color: rgb(255, 159, 119);
  border-bottom: 1px solid rgb(255, 159, 119);
}

.nav ul li .arrow {
  margin-left: 7px;
  vertical-align: middle;
}

.nav > ul > li > a {
  padding: 9px 0 5px;
  display: inline-block;
  color: #000;
}

.nav ul .inqu {
  margin-top: 2px;
}

.nav ul .inqu a {
  font-size: 12px;
  line-height: 36px;
  font-family: 'YoonGothicPro', sans-serif;
  background: #000;
  color: #ffbea2;
  padding: 0 35px 0 22px;
}

.nav ul .inqu a:hover {
  font-size: 12px;
  line-height: 36px;
  font-family: 'YoonGothicPro', sans-serif;
  background:#ffbea2;
  color: #000;
  padding: 0 35px 0 22px;
} 

.nav ul .inqu img {
  max-width: 12px;
  margin-right: 25px;
  margin-top: -3px;
  vertical-align: middle;
}

.subList {
  top: 76px;
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #cacaca;
  padding: 20px 0 15px;
  background: #eee;
  box-shadow: inset 0 3px 5px rgba(55,55,55,0.2);
  text-align: center;
}

.subList ul {
  overflow: hidden;
  display: inline-block;
}

.subList ul li:first-child {
  border-left: 1px solid #dadada;
}

.subList ul li {
  float: left;
  padding: 0 40px;
  border-right: 1px solid #dadada;
  text-align: center;
}

.subList ul li a {
  color: rgb(0, 0, 0);
  border-bottom: none;
  display: block;
  font-size: 16px;
  font-family: 'Futura-Boo', 'YoonGothicPro', sans-serif;
}

.subList ul li a img {
  vertical-align: middle;
  width: 20px;
  margin-bottom: 5px;
}

.subList .port li a {
  font-size: 13px;
}

.subList .port li a img {
  width: 18px;
}

.mSubMenu {
  display: none;
}

@media screen and (max-width: 860px) {
  .nav > ul > li {
    margin: 0 8px;
  }
  .nav ul .inqu {
    margin-right: 5px;
  }
}

@media screen and (max-width: 900px) {
  .nav ul .inqu a {
    padding: 0 10px 0 7px;
  }
}

@media screen and (max-width: 1024px) {
  .logo a img {
    max-height: 33px;
  }
  .nav > ul > li {
    margin: 0 10px;
    font-size: 15px;
  }
  .nav > ul > li > a {
    padding: 8px 0 5px;
  }
  .nav ul li .arrow {
    width: 7px;
    margin-left: 3px;
  }
  .nav ul .inqu {
    margin-top: 0;
  }
  .nav ul .inqu a {
    padding: 0 13px 0 10px;
  }
  .nav ul .inqu a img {
    width: 10px;
    margin-right: 13px;
  }
}

@media screen and (max-width: 1199px) {
  .nav > ul > li {
     margin: 0 10px;
  }
}

@media screen and (max-width: 1280px) {
  .hdWrap {
    width: 100%;
    max-width: 95%;
  }
  .logo a img {
    max-height: 35px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    display: none;
  }
  .mHeader {
    display: block;
  }
  .mSubMenu {
    display: block;
  }
}

.mHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    background: #fff;
    box-shadow: 0 3px 5px rgba(55,55,55,0.2);
    padding: 15px 5% 18px;
}

.mHeader .mHdWrap {
  overflow: hidden;
}

.mHeader .mHdWrap .logo {
  float: left;
}

.mHeader .mHdWrap .logo img {
  max-height: 33px;
  vertical-align: middle;
}

.mHeader .mHdWrap .mHdBtn {
  display:block;
  float: right;
  margin-top: 6px;
  vertical-align: middle;
}

.mHeader .mSubMenu {
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
}

.mHeader .mSubMenu .mInquBtn {
  display: block;
  width: 100%;
  padding: 20px 0;
  background: #000;
  color: #ffc2a8;
  font-size: 16px;
  text-align: center;
  font-family: 'YoonGothicPro', sans-serif;
}

.mHeader .mSubMenu .mInquBtn img {
  width: 12px;
  margin-right: 20px;
}

.mHeader .mSubMenu h3 {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #b4b4b4;
  text-align: center;
  font-family: 'Futura-Med';
  font-size: 1em;
}

.mHeader .mSubMenu h3 a {
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 60px;
  height: 60px;
}

.mHeader .mSubMenu h3 img {
  position: absolute;
  top: 30px;
  right: 10%;
}
.clicked{
  color: rgb(255, 159, 119);
  
}

.mHeader .mSubMenu .mSubList {
  overflow: hidden;
  border-bottom: 1px solid #c6c6c6;
  padding: 20px;
  background: #eee;
}

.mHeader .mSubMenu .mSubList li {
  float: left;
  width: 50%;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  list-style: none; 
}

.mHeader .mSubMenu .mSubList img {
  width: 22px;
  margin-bottom: 5px;
}

.mHeader .mSubMenu .mSubList .br {
  border-right: none;
}

.mHeader .mSubMenu .mSubList .bt {
  border-bottom: none;
}

.mHeader .mSubMenu .mSubList .brBt {
  border-bottom: none;
  border-right: none;
}

.mHeader .mSubMenu .mSubList a {
  display : block;
  padding: 15px 0 8px;
  border-bottom: 1px solid #c6c6c6;
  font-family: 'Futura-Boo', 'YoonGothicPro', 'sans-serif';
  border-right: 1px solid #c6c6c6;
}

.mHeader .mSubMenu .port img {
  width: 22px;
  margin-bottom: 5px;
}

.mHeader .mSubMenu .port a {
  font-size: 13px;
  font-family: 'YoonGothicPro', 'sans-serif';
}

.mHeader .mSubMenu .board {
  width: 100%;
  background: #eeeeee;
  padding: 20px 0;
  border-bottom: 1px solid #b4b4b4;
  font-size: 18px;
  font-family: 'Futura-Med', 'YoonGothicPro', 'sans-serif';
}

.mHeader .mSubMenu .board a {
  display: inline-block;
  width: 50%;
  border-right: 1px solid #b4b4b4;
  box-sizing: border-box;
  text-align: center;
}

.mHeader .mSubMenu .board a:last-child {
  border-right: none;
}

.mHeader .mSubMenu .sns  {
  width: 100%;
  background: #eeeeee;
  padding: 20px 0;
  border-bottom: 1px solid #b4b4b4;
}

.mHeader .mSubMenu .sns a {
  display: inline-block;
  width: 33.3%;
  border-right: 1px solid #b4b4b4;
  height: 24px;
  box-sizing: border-box;
  text-align: center;
}

.mHeader .mSubMenu .sns img {
  width: 20px;
  vertical-align: middle;
}

.mHeader .mSubMenu .sns a:last-child {
  border-right: none;
}
